
.headingBox{
  justify-content: center;
  background-color: gray;
  border-radius: 15px;
  box-shadow: 5px 10px 8px #888888;

}

.headingBox:hover{
  color:green;
}


.heading{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15vh;
}